body{
    background-color: white;
    display: grid;
    grid-template:
    "nv nv nv" 10%
    "as mn ." 1fr
    "ft ft ft" 10% / 20% 1fr 20% ;
    gap:15px;
    height: 100vh;
}

nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    grid-area: nv;
    background-color: violet;
    justify-content: space-evenly;
}

main{
    grid-area: mn;
}

aside{
    grid-area: as;
    background-color: blue;
}

footer{
    grid-area: ft;
    background-color: chocolate;
    height:fit-content;
}

main.cards-container{
    display: grid;
    grid-template-columns: repeat(3, autofit, minmax(250px,1fr));
    gap: 20px;
    padding: 20px;

}

main.cards-container > div {
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1);
}

main.cards-container > div :hover,:focus{
    transform: translateY(-8px);
    transition-duration: 0.3s;
}

.main-home{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0;
}

.hero {
    background: linear-gradient(135deg, rgba(230, 230, 230, 0.8), rgba(19, 19, 19, 0.8));
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    padding: 100px;
    border-radius: 10px;
    margin: 20px;
}